<div class="container-fluid data-block">
  <div class="container">
    <h1 class="text-center">About us</h1>
    <hr class="after-heading" align="center">
    <div itemprop="mainContentOfPage" class="text-center text-content">
      <p>After a series of interesting hospitality experiment in Da Nang, a small team of hospitality enthusiasts set out to form Xindy. We will officially launch after Lunar New Year of 2017 with much eagerness and joy.</p>
      <p>Xindy is a hospitality and tourism business in the central provinces of Vietnam, where we all are from. Our aim is to simply focus on improving the quality of hospitality and tourism products in Da Nang and neighboring cities and deliver the highest possible service, yet remained family-like to those traveling to our city for the first, or second, or third time. Our team is like family, and as is our guests, and we want to fulfill our commitment of excellent to each visitor who stays with us.</p>
      <p>We believe that when humans travel, they travel to get away from their current social environment and replace it with a different one, but yet, still carry the same feeling as if they are at home. That’s where Xindy comes in. We want home to be a place where we can all gather, share stories, and truly experience Da Nang, Hoi An, and Hue the way we believe travelers should!</p>
      <p>Coming Soon!</p>
    </div>
  </div>
</div>
