<div itemscope="" itemtype="https://schema.org/AggregateRating">
  <meta itemprop="ratingValue" content="5.0">
  <meta itemprop="itemReviewed" content="Christina's">
  <meta itemprop="reviewCount" content="2463">
  <h1 class="text-center">Over 1,000 amazing reviews</h1>
  <hr class="after-heading" align="center">
</div>
<div style="height: 305px">
  <div uib-carousel active="active" no-transition="false" interval="myInterval" no-wrap="noWrapSlides" class="row text-center reviews-container">
    <div uib-slide ng-repeat="slide in slides track by slide.id" index="slide.id">
      <div itemscope="" itemtype="http://schema.org/Review" class="col-xs-12">

        <img ng-src="{{slide.image}}">

        <div itemprop="author" itemscope="" itemtype="http://schema.org/Person" class="guest-name">
          <span itemprop="name">Rachel</span>
        </div>
        <div class="review-date text-muted small">
          April 2016
        </div>
        <div class="review-content" itemprop="reviewBody">
          <p>Accommodations were very clean and very cool.  Location is perfect- not completely in the midst of all the hectic action and landmarks, but within easy walking distance if that is what you're after.  Two really nice cafes just outside the door.  Extremely helpful and friendly staff.  </p>
        </div>

      </div>
    </div>
  </div>
  <div class="text-center">
    <a target="_blank" href="https://www.airbnb.com/users/show/12394" class="all-reviews-link hover-link"><img src="https://static.christinas.vn/images/more_arrow.png"> See all reviews on Airbnb</a>
  </div>
</div>

