  <div class="container">
    <div class="row">
      <div class="col-xs-12 col-sm-4 col-sm-push-8 social">
        <ul class="list-inline">
          <li><a alt="About Us" href="/about-us/" class="text-uppercase a-about-us">About us</a>
          </li><li><a alt="Terms &amp; Policies" href="/policy/" class="text-uppercase a-terms-policies">Terms &amp; Policies</a>
        </li><li>
          <a href="/contact-us/"><img class="white-hidden" src="https://static.christinas.vn/images/contact.png"></a>
          <a href="https://www.facebook.com/christinassaigon"><img src="https://static.christinas.vn/images/facebook.png"></a>
          <a href="https://instagram.com/christinas_vietnam/"><img src="https://static.christinas.vn/images/instagram.png"></a>
        </li>
        </ul>
      </div>
      <div class="col-xs-12 col-sm-8 col-sm-pull-4 copy">
        © 2016 Christinas Company, Ltd. All Rights Reserved.<br>
        212/2B Nguyen Trai Street, Nguyen Cu Trinh Ward, District 1, Ho Chi Minh City.<br>
        Business Registration Number: 0313192677
      </div>
    </div>
  </div>

