  <div class="container">
    <h1 class="text-center">The social<br>accommodation concept</h1>
    <hr class="after-heading" align="center">
    <div class="text-center concept-content" itemprop="description">
      <p>We believe in the social connection that binds all of us and that this social connection is necessary towards building a more peaceful world. Therefore, our accommodations are designed with a focus on common space to encourage more social connections for our guests.</p>
      <p>Guests at Christina’s can enjoy the privacy of their own self-sufficient apartments while at the same time have access to our common space where they can meet and share stories with other travelers around the world. The idea is not to take away the comfort of private space, but rather to add more to the travel experience via the common space where sharing is encouraged.</p>
      <p>After all, sharing is caring and we hope you’ll join us.</p>
      <img alt="Team Christina's" src="https://static.christinas.vn/images/homepage/team_signature.png">
    </div>
  </div>

