  <div class="row alternate-color">
    <div class="col-xs-12 col-md-4 col-md-push-4">
      <h4 class="text-center">Focus on<br>common space</h4>
      <hr class="after-heading" align="center">
      <div class="text-center small common-space-content">
        <p>If home is where the hearts are, then the kitchen is the hearts of our homes.</p>
        <p>We are convinced that few things in life are more social than food. This is especially true when we visit a new country where everything can be different from where we come from.</p>
        <p>The common kitchen, part of our common space, is a place where our guests can partake in a cooking class or share their recipes, connecting with travelers from around the world.</p>
      </div>
    </div>
    <div class="col-xs-6 col-md-4 col-md-pull-4">
      <img src="images/common-space/common_space_1.jpg">
    </div>
    <div class="col-xs-6 col-md-4">
      <img src="images/common-space/common_space_2.jpg">
    </div>
  </div>
  <div class="row alternate-color">
    <div class="col-xs-4">
      <img src="images/common-space/common_space_3.jpg">
    </div>
    <div class="col-xs-4">
      <img src="images/common-space/common_space_4.jpg">
    </div>
    <div class="col-xs-4">
      <img src="images/common-space/common_space_5.jpg">
    </div>
  </div>


