<div class="container">
  <div class="row">
    <div class="col-xs-12 col-sm-4 col-sm-push-8 social">
      <ul class="list-inline">
        <li><a alt="About Us" href="/about-us/" class="text-uppercase a-about-us">About us</a>
        </li><li><a alt="Terms &amp; Policies" href="/policy/" class="text-uppercase a-terms-policies">Terms &amp; Policies</a>
      </li><li>
        <a href=""><img class="white-hidden" src="https://static.christinas.vn/images/contact.png"></a>
        <a href=""><img src="https://static.christinas.vn/images/facebook.png"></a>
        <a href=""><img src="https://static.christinas.vn/images/instagram.png"></a>
      </li>
      </ul>
    </div>
    <div class="col-xs-12 col-sm-8 col-sm-pull-4 copy">
      Xindy.vn © Copyright 2016.Thiết kế bởi QTN Silicon | Chapter của QTN Global
    </div>
  </div>
</div>

