<div carousel class="cover-container" interval="myInterval" no-pause="true">
  <div slide ng-repeat="slide in slides track by slide.id" class="cover" index="slide.id" ng-style="{'height': '700px','background-image': 'url({{slide.urlImage}})','background-size': 'cover'}">

  </div>
  <div class="va-container">
    <div class="va-middle text-center">
      <h1 style="font-size: 30px" class="cover-heading text-uppercase large"><span style="font-size: 55px">Welcome to Central Vietnam</span><br>Home is where we gather...</h1>
      <a href="/rooms/search" class="cover-button text-uppercase btn-christinas"><span>Book Now</span></a>
    </div>
  </div>
</div>
