<div class="tour-row row-eq-height row image-right">
  <a href="/saigon/cu-chi-tunnels/" class="col-sm-5 tour-image cover-bg col-sm-push-7" style="background-image: url(https://static.christinas.vn/images/tours/1/ab3742cde43b4e8989d84e950fbbf3d9);
        background-position: right center;"></a>
  <div class="col-sm-7 col-sm-pull-5">
    <div class="tour-content data-block">
      <a href="/saigon/cu-chi-tunnels/"><h4 class="tour-title-home">Cu Chi Adventure</h4></a>
      <p></p><p>The Cu Chi Tunnels are an incredible network of connecting underground tunnels that played an integral role during the Vietnam (American) War.</p>

      <p>Hop on our two-wheels and head outside the city center to see authentic local life while freshening up on the history of the war and experience what it’s like living inside the tiny tunnels.</p>

      <p>Food, history, scenery, culture, and local industries, we cover it all! It’s definitely what we would do if we were visiting Saigon for the first time.</p><p></p>
      <a href="/saigon/cu-chi-tunnels/#book" class="btn btn-more">BOOK NOW</a>
      &nbsp;
      <a href="/saigon/cu-chi-tunnels/" class="more-link">View more »</a>
    </div>
  </div>
</div>

<div class="tour-row row-eq-height row image-left gray-bg">
  <a href="/saigon/mekong-delta/" class="col-sm-5 tour-image cover-bg " style="background-image: url(https://static.christinas.vn/images/tours/2/c2a25e82f0554f3ca2b5a005f808ee46);
        background-position: left center;"></a>
  <div class="col-sm-7 ">
    <div class="tour-content data-block">
      <a href="/saigon/mekong-delta/"><h4 class="tour-title-home">The Mekong Delta</h4></a>
      <p></p><p>Saigon’s concrete jungle can be overwhelming at times. If you’re feeling the need to decompress, why not spend the day in the lush Mekong Delta and catch a glimpse of this fascinating way of life for many locals in southern Vietnam.</p>

      <p>Whether you’re driving through the dragon fruit orchards or coasting along the otherworldly riverside coconut plantations, the Mekong Delta is the perfect place to catch a breath of fresh air and enjoy the picturesque countryside, not to mention all the amazing dishes you’ll get to enjoy... no one ever comes home hungry or empty-handed!</p><p></p>
      <a href="/saigon/mekong-delta/#book" class="btn btn-more">BOOK NOW</a>
      &nbsp;
      <a href="/saigon/mekong-delta/" class="more-link">View more »</a>
    </div>
  </div>
</div>

<div class="tour-row row-eq-height row image-right">
  <a href="/saigon/student-city-tour/" class="col-sm-5 tour-image cover-bg col-sm-push-7" style="background-image: url(https://static.christinas.vn/images/tours/3/04a8275eb6a3497ba506451f83fa3958);
        background-position: left center;"></a>
  <div class="col-sm-7 col-sm-pull-5">
    <div class="tour-content data-block">
      <a href="/saigon/student-city-tour/"><h4 class="tour-title-home">Student City Tour</h4></a>
      <p></p><p>Looking to orient yourself in Saigon? We’ve got a student-volunteered city tour made just for you...literally!</p>

      <p>We simply set you up with local university students who are experts at navigating their beloved city and you can request where you would like to go. This is a great way for the students to gain some experience while sharing their unique culture with people from around the world. It’s like having a new friend to show you around, so why not?</p>

      <p>Recommended sites: Reunification Place, Notre Dame Cathedral, Post Office, War Remnants Museum, and other popular hang-out spots.</p><p></p>
      <a href="/saigon/student-city-tour/#book" class="btn btn-more">BOOK NOW</a>
      &nbsp;
      <a href="/saigon/student-city-tour/" class="more-link">View more »</a>
    </div>
  </div>
</div>

<div class="tour-row row-eq-height row image-left gray-bg">
  <a href="/saigon/evening-food-tour/" class="col-sm-5 tour-image cover-bg " style="background-image: url(https://static.christinas.vn/images/tours/4/2e99e0892d5d4f05916cc278701006dc);
        "></a>
  <div class="col-sm-7 ">
    <div class="tour-content data-block">
      <a href="/saigon/evening-food-tour/"><h4 class="tour-title-home">Evening Food Tour</h4></a>
      <p></p><p>The street food scene in Saigon permeates every districts and alleyways. The city boasts so many street food outlets that, at times, it feels like a gigantic open-air restaurant.</p>

      <p>Everyday, tens of thousands of street-side eateries offer up delicious dishes originating from all over the country. We will introduce you to a variety of “hidden” street food through five different districts in Saigon, during which you will also get a taste of what it’s like to be on a scooter learning about the history and culture of our beautiful city. This is what we called a "Yummy Adventure."</p><p></p>
      <a href="/saigon/evening-food-tour/#book" class="btn btn-more">BOOK NOW</a>
      &nbsp;
      <a href="/saigon/evening-food-tour/" class="more-link">View more »</a>
    </div>
  </div>
</div>



