<div class="container-fluid">
  <div class="row">
    <!-- Service Info -->
    <div class="col-md-3 our-service-info equal-height-column" style="height: 560px;">
      <h2 class="h2"><em class="block-name">Our Services</em><br> <strong>What we</strong> Purpose</h2>
      <p>Donec eleifend mauris eu leo varius consectetur. Aliquam luctus a lorem ac rutrum. Cras in nulla id mi ornare vestibulum. Donec et magna nulla. Pellentesque ut ipsum id nibh pretium blandit quis ac erat.</p>
    </div>
    <!-- End Service Info -->

    <div class="col-md-9 our-services-list-wrapper">
      <div class="col-md-4 our-services-list-item equal-height-column" style="height: 560px;">
        <div class="img-wrapper img-wrapper--shadow">
          <img src="images/onetrip/hoian.jpg" alt="ALT" class="img-reposnsive">
        </div>
        <h3>Duis sagittis purus a pretium tincidunt</h3>
        <p>Cras sit amet varius velit. Maecenas porta condimentum tortor at sagittis. Cum sociis natoque penatibus et magnis dis</p>
        <a href="#" class="btn-u btn-u-lg btn-u-red btn-u-upper">Learn more</a>
      </div>
      <div class="col-md-4 our-services-list-item equal-height-column" style="height: 560px;">
        <div class="img-wrapper img-wrapper--shadow">
          <img src="images/onetrip/dragon.jpg" alt="ALT" class="img-reposnsive">
        </div>
        <h3>Duis sagittis purus a pretium tincidunt</h3>
        <p>Cras sit amet varius velit. Maecenas porta condimentum tortor at sagittis. Cum sociis natoque penatibus et magnis dis</p>
        <a href="#" class="btn-u btn-u-lg btn-u-red btn-u-upper">Learn more</a>
      </div>
      <div class="col-md-4 our-services-list-item equal-height-column" style="height: 560px;">
        <div class="img-wrapper img-wrapper--shadow">
          <img src="images/onetrip/Hue-1.jpg" alt="ALT" class="img-reposnsive">
        </div>
        <h3>Duis sagittis purus a pretium tincidunt</h3>
        <p>Cras sit amet varius velit. Maecenas porta condimentum tortor at sagittis. Cum sociis natoque penatibus et magnis dis</p>
        <a href="#" class="btn-u btn-u-lg btn-u-red btn-u-upper">Learn more</a>
      </div>
    </div>
  </div>
</div>
