<div class="container hidden-xs">
  <ul>
    <li><a href="/"><img height="36" width="36" alt="Christina's" src="https://static.christinas.vn/images/logo_2hearts.png"></a></li>
    <li class="nav-christinas"><a href="/">Accommodation</a></li>
    <li class="nav-onetrip"><a href="/onetrip/">Onetrip</a></li>
    <li class="nav-thejoifactory"><a href="/thejoifactory/">The Joi Factory</a></li>
    <li class="nav-blog"><a href="/blog/">Blog</a></li>
    <li>
        <span>
          <a href="https://www.facebook.com/christinassaigon"><img width="26" height="26" src="https://static.christinas.vn/images/facebook-round.png"></a>&nbsp;
          <a href="https://instagram.com/christinas_vietnam/"><img width="26" height="26" src="https://static.christinas.vn/images/instagram-round.png"></a>
        </span>
    </li>
  </ul>
</div>
<div class="visible-xs-block global-nav-xs-top">
  <button class="btn btn-toggle" onclick="javascript:toggleMenu();">
    <span class="icon-bar"></span>
    <span class="icon-bar"></span>
  </button>
  <div class="global-nav-xs-logo">
    <a href="/">
      <img height="40" width="40" alt="Christina's" src="https://static.christinas.vn/images/logo_2hearts.png">
    </a>
  </div>
</div>
