<div carousel class="cover-container" no-transition="false" active="active" interval="myInterval" no-wrap="noWrapSlides">
  <div slide ng-repeat="slide in slides track by slide.id" class="cover cover-bg" index="slide.id" ng-style="{'height': '550px','background-image': 'url({{slide.urlImage}})'}">
      <div class="va-container">
        <div class="va-middle text-center">
          <h1 class="cover-heading text-uppercase large">THE REAL TRIP</h1>
          <a href="/explore/hoi-an" class="cover-button text-uppercase btn-christinas">Book Onetrip</a>
        </div>
      </div>
  </div>
</div>

