<div class="get-discount text-center g-heading-v8" id="Subscribe">
  <div class="container">
    <h2><strong>Get 10%</strong> discount</h2>
    <div class="row">
      <div class="col-sm-8 col-sm-offset-2">
        <p class="g-mb-65">Donec eleifend mauris eu leo varius consectetur. Aliquam luctus a lorem ac rutrum. Cras in nulla id mi ornare vestibulum. Donec et magna nulla. Pellentesque ut ipsum id nibh pretium blandit quis ac erat.</p>
        <form action="#" class="sky-form">
          <div class="row">
            <div class="col-sm-6 g-mb-20">
              <label class="input">
                <input type="text" placeholder="Your name">
              </label>
            </div>
            <div class="col-sm-6 g-mb-20">
              <label class="input">
                <input type="text" placeholder="Your email">
              </label>
            </div>
          </div>
          <button class="btn-u btn-u-lg btn-u-red btn-u-upper" type="submit">Send Message</button>
        </form>
      </div>
    </div>
  </div>
</div>
