.room-list {
  padding-top: 20px;
}
.map-style{
  position: fixed;
  right: 0;
  bottom: 0;
  top :60px;
  transition: all 0.6s ease-in-out;
  padding-right: 0;
}
.changeMap{
  height: 96vh!important;
}
