<div class="">
  <ul>
    <li style="float: left; margin-top: 0;padding-left: 0"><a href="/"><img src="images/logo-xindy.png" alt=""></a></li>
    <li class="nav-blog"><a href="/login">Login</a></li>
    <li class="nav-onetrip"><a ui-sref="hotAddress">Local reccommendations</a></li>
    <li class="nav-onetrip"><a href="/explore">Explore</a></li>
    <li class="nav-christinas"><a href="/">Accommodation</a></li>

    <!--<li>-->
        <!--<span>-->
          <!--<a href=""><img width="26" height="26" src="https://static.christinas.vn/images/facebook-round.png"></a>&nbsp;-->
          <!--<a href=""><img width="26" height="26" src="https://static.christinas.vn/images/instagram-round.png"></a>-->
        <!--</span>-->
    <!--</li>-->
  </ul>
</div>
<div class="visible-xs-block global-nav-xs-top">
  <button class="btn btn-toggle">
    <span class="icon-bar"></span>
    <span class="icon-bar"></span>
  </button>
  <div class="global-nav-xs-logo">
    <a href="/">
      <img height="40" width="40" alt="Christina's" src="https://static.christinas.vn/images/logo_2hearts.png">
    </a>
  </div>
</div>
