  <div class="container">
    <div class="row">
      <div class="col-xs-12 col-sm-4 col-sm-push-8 social">
        <ul class="list-inline">
          <li><a  href="/login" class="text-uppercase a-about-us">Login</a></li>
          <li><a alt="About Us" href="/about-us/" class="text-uppercase a-about-us">About us</a></li>
          <li><a alt="Terms &amp; Policies" href="/policy/" class="text-uppercase a-terms-policies">Terms &amp; Policies</a></li>
          <li>
          <a href=""><img class="white-hidden" src="https://static.christinas.vn/images/contact.png"></a>
          <a href=""><img src="https://static.christinas.vn/images/facebook.png"></a>
          <a href=""><img src="https://static.christinas.vn/images/instagram.png"></a>
        </li>
        </ul>
      </div>
      <div class="col-xs-12 col-sm-8 col-sm-pull-4 copy">
        Xindy.vn © Copyright 2016. Design by QTN Silicon
      </div>
    </div>
  </div>

  <div style="width: 280px;position: fixed;bottom: -20px;right: 30px" ng-style="close == true ? {'display':'none'} : null">
    <div class="box box-danger direct-chat direct-chat-danger">
      <div class="box-header with-border" ng-style="showChat == true ? {'border-bottom': '1px solid #f4f4f4'}: {'border-bottom': 'none'}">
        <h3 class="box-title">Chat with us</h3>
        <div class="box-tools pull-right">
          <button type="button" class="btn btn-box-tool" ng-click="hideChat()">
            <i ng-show="showChat == true" class="fa fa-minus"></i>
            <i ng-show="showChat == false" class="fa fa-plus"></i>
          </button>
          <button type="button" class="btn btn-box-tool" ng-click="closeChat()"><i class="fa fa-times"></i></button>
        </div>
      </div>
      <div class="box-body" ng-style="showChat == true ? {'display':'block'}: {'display':'none'}">
        <div class="direct-chat-messages">
          <div class="direct-chat-msg">
            <div class="direct-chat-info clearfix">
              <span class="direct-chat-name pull-left">Xindy Team</span>
            </div>
            <img class="direct-chat-img" src="images/user1-128x128.jpg" alt="Message User Image">
            <div class="direct-chat-text">
              I'm here to help if you need anything
            </div>
          </div>
          <div ng-repeat="item in contentChat" class="direct-chat-msg right">
            <div class="direct-chat-info clearfix">
              <span class="direct-chat-name pull-right">You</span>
            </div>
            <img class="direct-chat-img" src="images/user3-128x128.jpg" alt="Message User Image">
            <div class="direct-chat-text">
              {{item}}
            </div>
          </div>
        </div>
      </div>
      <div class="box-footer" ng-style="showChat == true ? {'display':'block'}: {'display':'none'}">
        <form ng-submit="submitChat(value)">
          <div class="input-group">
            <input type="text" name="message" placeholder="Type Message ..." ng-model="value"  class="form-control">
            <span class="input-group-btn">
                        <button type="button" class="btn btn-danger btn-flat"  ng-click="submitChat(value)">Send</button>
                      </span>
          </div>
        </form>
      </div>
    </div>
  </div>
