<div class="global-nav container-fluid" ui-view="home_header"></div>
<section ui-view="home_slide"></section>
<div class="container-fluid data-block concept-block" ui-view="home_concept"></div>
<div class="container-fluid data-block common-space-block" ui-view="home_focus">
</div>
<div class="container-fluid data-block other-features-block" ui-view="home_feature"></div>
<div class="container-fluid data-block alternate-color reviews-block" ui-view="home_review"></div>
<footer ui-view="home_footer"> </footer>

