<div carousel class="cover-container" interval="myInterval" no-pause="true">
  <div slide ng-repeat="slide in slides track by slide.id" class="cover" index="slide.id" ng-style="{'height': '650px','background-image': 'url({{slide.urlImage}})','background-size': 'cover'}">

  </div>
  <div class="va-container">
    <div class="va-middle text-center">
      <h1 class="cover-heading text-uppercase large">Home is where<br>the hearts are...</h1>
      <a href="/rooms/search" class="cover-button text-uppercase btn-christinas"><span>Book with us</span></a>
    </div>
  </div>
</div>
