<div class="container-fluid">
  <ul class="list-unstyled feature-main row text-center">
    <li class="col-md-4 col-sm-4 feature-item">
      <p>Our Accommodations</p>
      <!--<p>Tìm chỗ ở phù hợp với ngân sách và phong cách của bạn.</p>-->
      <div class="thumbnails thumbnail-style thumbnail-kenburn">
        <div class="thumbnail-img">
          <div class="overflow-hidden">
            <a class="btn-booking" ui-sref="room">Learn More</a>
            <img class="img-responsive" src="images/common-space/feature1.jpg" alt="">
          </div>
        </div>
      </div>
    </li>
    <li class=" col-md-4  col-sm-4 feature-item">
      <p>Discover</p>
      <!--<p>Liên lạc với các chủ nhà tiềm năng, xác nhận ngày du lịch và đặt phòng an toàn.</p>-->
      <div class="thumbnails thumbnail-style thumbnail-kenburn">
        <div class="thumbnail-img">
          <div class="overflow-hidden">
            <a class="btn-booking" ui-sref="explore">Learn More</a>
            <img class="img-responsive" src="images/common-space/phuot1.jpg" alt="">
          </div>
        </div>
      </div>
    </li>
    <li class="col-md-4  col-sm-4 feature-item">
      <p>Local Recommendations</p>
      <!--<p>Sống như người địa phương ở bất kỳ nơi nào trên thế giới.</p>-->
      <div class="thumbnails thumbnail-style thumbnail-kenburn">
        <div class="thumbnail-img">
          <div class="overflow-hidden">
            <a class="btn-booking " ui-sref="hotAddress">Learn More</a>
            <img class="img-responsive" src="images/common-space/1.jpg" alt="">
          </div>
        </div>
      </div>
    </li>
  </ul>
</div>
