<div class="global-nav container-fluid" ui-view="home_header"></div>
<section ui-view="home_infotour"></section>
<div class="container-fluid data-block concept-block" ui-view="home_ss2info"></div>
<div class="container-fluid data-block common-space-block" ui-view="home_ss3slide">
</div>
<div class="container-fluid data-block other-features-block" ui-view="home_weoffer"></div>
<div class="container-fluid data-block alternate-color reviews-block" ui-view="home_review"></div>
<div class="container-fluid data-block badge-block" ui-view="home_achievement"></div>
<footer ui-view="home_footer"> </footer>

