<div class="cover-bg" style="position:relative;height:500px;background-image:url(https://static.christinas.vn/images/tours/1/c458ecd30c9a446287173af8e72a0357);" data-reactid="2">
  <div style="position:absolute;width:100%;height:160px;bottom:0;background-image:linear-gradient(-180deg, rgba(255,255,255,0.00) 0%, rgba(0,0,0,0.71) 100%);" data-reactid="3">
    <div class="container" data-reactid="4">
      <div style="position:absolute;bottom:10px;" data-reactid="5">
        <h1 style="text-transform:none;margin:0;letter-spacing:0;line-height:1.1;font-size:40px;font-weight:300;color:white;" data-reactid="6">Cu Chi Adventure</h1>
        <div style="margin-top:10px;font-size:1.1em;" data-reactid="7"><span style="font-size:18px;font-weight:light;color:white;" data-reactid="8">Saigon</span><span style="font-size:18px;font-weight:light;color:white;line-height:1.6em;" data-reactid="9"><span class="middle-dot" style="margin:0 5px;display:inline-block;" data-reactid="10">·</span><span class="stars" data-reactid="11"><span class="rated-stars" data-value="5" style="width:80px;" data-reactid="12"></span></span><span class="middle-dot" style="margin:0 5px;display:inline-block;" data-reactid="13">·</span><span data-reactid="14"><!-- react-text: 15 -->88<!-- /react-text --><!-- react-text: 16 --> reviews<!-- /react-text --></span></span>
        </div>
      </div>
    </div>
  </div>
</div>
