  <h1 class="text-center">Awesome features</h1>
  <hr class="after-heading" align="center">
  <div class="container">
    <div class="row">
      <div class="col-sm-4">
        <img src="https://static.christinas.vn/images/homepage/feature_design.jpg">
        <div class="feature-detail">
          <h4>Beautiful design</h4>
          <div>
            <p>Our design is simple, functional, and beautifully social.</p>
            <p>Having traveled extensively, we know what we care most about when choosing a place to stay: a clean bathroom and a comfortable bed. At Xindy, we make them beautiful.</p>
          </div>
        </div>
      </div>
      <div class="col-sm-4">
        <img src="https://static.christinas.vn/images/homepage/feature_location.jpg">
        <div class="feature-detail">
          <h4>Great location</h4>
          <div>
            <p>Steps from what you need, away from what you don’t want.</p>
            <p>We pick our locations to provide guests with the best local experience without sacrificing comfort.</p>
          </div>
        </div>
      </div>
      <div class="col-sm-4">
        <img src="https://static.christinas.vn/images/homepage/feature_little_things.jpg">
        <div class="feature-detail">
          <h4>The little things</h4>
          <div>
            <p>We believe the little things matter… and we think you'll agree.</p>
            <p>From the little bonsai personalities to our super awesome linens, we focus on the tiniest details to ensure the most pleasant stay for our guests.</p>
          </div>
        </div>
      </div>
    </div>
  </div>

