<div class="global-nav container-fluid" ui-view="room_header"></div>
<section ui-view="room_infotour"></section>
<div class="container-fluid data-block concept-block" ui-view="room_listRoom"></div>
<!--<div class="container-fluid data-block common-space-block" ui-view="room_ss3slide">-->
<!--</div>-->
<!--<div class="container-fluid data-block other-features-block" ui-view="room_weoffer"></div>-->
<!--<div class="container-fluid data-block alternate-color reviews-block" ui-view="room_review"></div>-->
<footer ui-view="room_footer"> </footer>

