<div class="search-top search-bar"   style="width: auto;">
  <div class="container-fluid data-block search-block" style="border-bottom:1px solid #F2F2F2;max-width:700px;">
    <div class="row cities-wr">
    <div class="col-xs-1"  >
  </div><div class="col-xs-5 city city-selected" data-reactid="12">
    <div class="city-image" style="background-image:url('https://static.christinas.vn/images/cities/ho-chi-minh.jpg');opacity:1;">
      <div class="city-name-wr"  >
        <div class="city-name"  >Saigon</div>
      </div>
    </div>
  </div>
    <div class="col-xs-5 city false"  >
    <div class="city-image" style="background-image:url('https://static.christinas.vn/images/cities/hoi-an-disabled.jpg');opacity:0.3;">
      <div class="city-name-wr"  >
        <div class="city-name"  >Hoi An</div>
      </div>
    </div>
  </div>
  </div>
    <div class="row search-options" data-reactid="20">
      <div class="col-xs-4 search-input checkin" data-reactid="21">
        <div class="form-control datepicker-trigger" data-reactid="22">Check in</div>
      </div>
      <div class="col-xs-4 search-input checkout" data-reactid="24">
        <div class="form-control datepicker-trigger" data-reactid="25">Check out</div>
      </div><div class="col-xs-4 search-input" data-reactid="27">
      <div class="form-control guest dropdown" data-reactid="28">
        <div id="guests" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false" data-reactid="29"><span data-reactid="30"><!-- react-text: 31 -->1 guest<!-- /react-text --></span>
          <span class="caret" data-reactid="33"></span>
        </div>
        <ul class="dropdown-menu" aria-labelledby="guests" data-reactid="34">
          <li data-reactid="35"><a data-reactid="36">1 guest</a>
          </li><li data-reactid="40"><a data-reactid="41">2 guests</a></li>
        </ul></div></div></div>
    <div class="clearfix"  ></div>
  </div>
</div>
