<div class="container-fluid data-block" data-reactid="101">
  <div class="row" style="padding-right:15px;position:relative;" data-reactid="102">
    <div class="col-sm-12 col-md-7 col-xs-12" style="padding-right:5px;" data-reactid="103">
      <div class="container-fluid search-result" data-reactid="104">
        <div class="row" data-reactid="105">
          <div itemscope="" itemtype="http://schema.org/Product" class="col-sm-6 col-xs-12" style="padding-right:5px;" data-reactid="106">
            <div data-reactid="111">
              <div itemprop="offers" itemscope="" itemtype="http://schema.org/Offer" style="position:relative;" data-reactid="113">
                <div style="padding-bottom:67%;" data-reactid="114">

                </div>
                <a itemprop="priceSpecification" itemscope="" itemtype="http://schema.org/PriceSpecification" target="_blank" href="/rooms/28/" style="display:block;width:100%;" data-reactid="116">
                  <div style="background-image:url(https://static.christinas.vn/images/rooms/28/578049486af411e5a6e06263d3ce9822);background-size:cover;background-position:center bottom;background-repeat:no-repeat;width:auto;height:100%;position:absolute;top:0;bottom:0;left:0;right:0;" data-reactid="117">
                    <div class="false" style="position:absolute;right:0;bottom:15px;background:rgba(0, 0, 0, 0.6);color:#FFFFFF;padding:3px 0 0 0;width:65px;height:45px;text-align:center;border-radius:4px 0 0 4px;" data-reactid="118">
                      <div class="text-center" style="font-size:0.7em;" data-reactid="119">From</div>
                      <span class="currency" itemprop="priceCurrency " content="USD" style="display:inline-block;font-size:0.8em;vertical-align:top;" data-reactid="120">$</span>
                      <span itemprop="minPrice" class="price" style="display:inline-block;font-size:1.8em;margin-top:-4px;line-height:34px;max-width:45px;" data-reactid="121">110</span>
                    </div>
                  </div>
                </a>
              </div>
              <div style="padding:15px 5px;margin-bottom:40px;" class="container-fluid" data-reactid="122">
                <div class="" data-reactid="123"><a target="_blank" href="/rooms/28/" data-reactid="124">
                  <div itemprop="name" style="font-weight:normal;white-space:nowrap;text-overflow:ellipsis;overflow:hidden;" data-reactid="125">Mix &amp; Match 2 Apartments /Suites @ Christina's  </div></a>
                  <div itemprop="aggregateRating" itemscope="" itemtype="http://schema.org/AggregateRating" style="white-space:nowrap;overflow:hidden;" data-reactid="126">
                  <span style="display:block;float:left;margin-left:-4px;" data-reactid="127">
                    <div class="rating">
                      <img src="https://static.christinas.vn/images/star.png">
          <img src="https://static.christinas.vn/images/star.png">
          <img src="https://static.christinas.vn/images/star.png">
          <img src="https://static.christinas.vn/images/star.png">
          <img src="https://static.christinas.vn/images/star.png">
        </div>
          </span>
                    <span itemprop="reviewCount" content="20" style="color:#B1B4B6;font-size:small;margin-left:5px;margin-top:2px;display:block;float:left;white-space:nowrap;" data-reactid="128"><!-- react-text: 129 -->• <!-- /react-text --><!-- react-text: 130 -->20<!-- /react-text --><!-- react-text: 131 --><!-- /react-text --><!-- react-text: 132 --> reviews on Airbnb<!-- /react-text --></span><meta itemprop="ratingValue" content="5" data-reactid="133"></div></div></div></div></div><div itemscope="" itemtype="http://schema.org/Product" class="col-sm-6 col-xs-12" style="padding-right:5px;" data-reactid="134">
          <div itemprop="brand" itemscope="" itemtype="http://schema.org/LodgingBusiness" data-reactid="135">
            <meta itemprop="name" content="The Schatz House" data-reactid="136">
            <div itemprop="brand" itemscope="" itemtype="http://schema.org/Brand" data-reactid="137">
              <meta itemprop="name" content="Christina's Saigon" data-reactid="138">
            </div>
          </div>
          <div data-reactid="139">
            <meta itemprop="image" content="https://static.christinas.vn/images/rooms/29/3da5780e6af411e5a6e06263d3ce9822" data-reactid="140"><div itemprop="offers" itemscope="" itemtype="http://schema.org/Offer" style="position:relative;" data-reactid="141">
            <div style="padding-bottom:67%;" data-reactid="142">

            </div>
            <meta itemprop="price" content="110" data-reactid="143">
            <a itemprop="priceSpecification" itemscope="" itemtype="http://schema.org/PriceSpecification" target="_blank" href="/rooms/29/" style="display:block;width:100%;" data-reactid="144">
              <div style="background-image:url(https://static.christinas.vn/images/rooms/29/3da5780e6af411e5a6e06263d3ce9822);background-size:cover;background-position:center bottom;background-repeat:no-repeat;width:auto;height:100%;position:absolute;top:0;bottom:0;left:0;right:0;" data-reactid="145">
                <div class="false" style="position:absolute;right:0;bottom:15px;background:rgba(0, 0, 0, 0.6);color:#FFFFFF;padding:3px 0 0 0;width:65px;height:45px;text-align:center;border-radius:4px 0 0 4px;" data-reactid="146">
                  <div class="text-center" style="font-size:0.7em;" data-reactid="147">From</div>
                  <span class="currency" itemprop="priceCurrency " content="USD" style="display:inline-block;font-size:0.8em;vertical-align:top;" data-reactid="148">$</span>
                  <span itemprop="minPrice" class="price" style="display:inline-block;font-size:1.8em;margin-top:-4px;line-height:34px;max-width:45px;" data-reactid="149">110</span>
                </div>
              </div>
            </a>
          </div>
            <div style="padding:15px 5px;margin-bottom:40px;" class="container-fluid" data-reactid="150">
              <div class="" data-reactid="151">
                <a target="_blank" href="/rooms/29/" data-reactid="152">
                  <div itemprop="name" style="font-weight:normal;white-space:nowrap;text-overflow:ellipsis;overflow:hidden;" data-reactid="153">★ Mix &amp; Match 2 Studio Apts by Ben Thanh Market ★</div></a>
                <div itemprop="aggregateRating" itemscope="" itemtype="http://schema.org/AggregateRating" style="white-space:nowrap;overflow:hidden;" data-reactid="154"><span style="display:block;float:left;margin-left:-4px;" data-reactid="155">
                  <div class="rating"><img src="https://static.christinas.vn/images/star.png">
          <img src="https://static.christinas.vn/images/star.png">
          <img src="https://static.christinas.vn/images/star.png">
          <img src="https://static.christinas.vn/images/star.png">
          <img src="https://static.christinas.vn/images/star.png">
        </div>
        </span>
                  <span itemprop="reviewCount" content="25" style="color:#B1B4B6;font-size:small;margin-left:5px;margin-top:2px;display:block;float:left;white-space:nowrap;" data-reactid="156"><!-- react-text: 157 -->• <!-- /react-text --><!-- react-text: 158 -->25<!-- /react-text --><!-- react-text: 159 --><!-- /react-text --><!-- react-text: 160 --> reviews on Airbnb<!-- /react-text --></span>
                </div>
              </div>
            </div>
          </div>
        </div>
          <div class="clearfix" data-reactid="162"></div>
        </div>
      </div>
    </div>
    <div class="hidden-sm col-md-5 hidden-xs" data-reactid="811">
      <div style="height:100%;overflow:auto;">
        <div map-lazy-load="https://maps.google.com/maps/api/js">
          <ng-map center="[40.74, -74.18]" zoom="10" default-style="false" style="display: block;height: 450px"></ng-map>
        </div>
      </div>
    </div>
  </div>
</div>

